<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\stdout"
      startupTimeLimit="120"
      requestTimeout="00:04:00"
      processPath="node.exe"
      arguments=".\server.js"
    >
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="NEXT_PUBLIC_API_URL" value="https://tech-gear-backend-site.premiumasp.net" />
        <environmentVariable name="HOSTNAME" value="0.0.0.0" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
